{
  "trailingComma": "none", // Не добавлять запятую в конце последнего элемента
  "tabWidth": 4, // Ширина табуляции
  "useTabs": true, // Использовать табуляцию вместо пробелов
  "semi": false, // Не добавлять точку с запятой в конце строк
  "singleQuote": true, // Использовать одинарные кавычки вместо двойных
  "jsxSingleQuote": true, // Использовать одинарные кавычки в JSX
  "arrowParens": "avoid" // Не добавлять скобки вокруг единственного параметра стрелочной функции
}
